@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #055e6e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #ebebeb;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf00;
}

::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}

/* sidebar */
.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #a855f7 !important;
}
.jodit-container:not(.jodit_inline) {
    border: none !important;
    background-color: transparent !important;
    border-radius: 11px !important;
    /* display: flex;
  flex-direction: column-reverse;
  height: 100% !important */
}
.jodit-ui-group {
    background-color: transparent !important;
}
.jodit-toolbar__box:not(:empty) {
    background-color: transparent !important;
    border: none !important;
}

.custom-question-table .ant-table-thead > tr > th {
    background-color: var(--primary) !important;
    color: white !important;
}

.whiteShadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

:where(.css-dev-only-do-not-override-15qwceh) a {
    color: #1677ff;
    outline: none;
    cursor: pointer;
    -webkit-text-decoration-skip: objects;
    transition: none !important;
}
